<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title>{$title}</title>  
    <link rel="stylesheet" href="public/css/pintuer.css">
    <link rel="stylesheet" href="public/css/admin.css">
    <script src="public/js/jquery.js"></script>
    <script src="public/js/pintuer.js"></script> 
</head>
<body>
<div class="panel admin-panel">
  <div class="panel-head"><strong class="icon-reorder"> 所有文章列表</strong></div>
  
  <table class="table table-hover text-center">
    <tr>
      <th width="10%">ID</th>
      <th width="20%">回复ID</th>
      <th width="20%">回复用户</th>
      <th width="10%">发表时间</th>
      <th width="15%">操作</th>
    </tr>
   
    {foreach $data as $keys => $val}
    <tr>
      <td>{$val['id']}</td>
      <td>{$val['tid']}</td>
      <td>{$val['username']}</td>
      <td>{$val['addtime']}</td>
      <td><div class="button-group">
      <a class="button border-red" href="index.php?m=details&a=shanchuwenzhang&id={$val['id']}&h=1"><span class="icon-trash-o"></span> 删除</a>
      </div></td>
    </tr>
    {/foreach}

    <tr>

      <td colspan="8">
        <div class="pagelist">
          <a href="{$url['first']}">首 页</a>
          <a href="{$url['prev']}">上一页</a>
          <span class="current">{$url['page']}</span>
          <a href="{$url['next']}">下一页</a>
          <a href="{$url['last']}">尾 页</a>
        </div>
      </td>

    </tr>
    <tr>
        <td colspan="8">
        <div class="pagelist">
        <span class="current">共{$url['count']}页</span>
        <span class="current">每页显示{$num}条</span>
        <span class="current">总共{$total}条数据</span>
        </div>
        </td>
      </tr>
    
    
  </table>
</div>
<script type="text/javascript">
function del(id,mid){
  if(confirm("您确定要删除吗?")){
  
  }
}
</script>

</body></html>