
<!DOCTYPE HTML>
<html>
<head>
	<meta name="baidu-tc-verification" content="7eb356461bde8bb53f0b6e72100e8930" />
	<meta name="baidu-site-verification" content="QhywE1qZ3A" />
	<meta charset="utf-8" />
	<title>{$title}</title>
	<script type="text/javascript" src="public/js/jquery-1.11.1.min.js"></script>

	<!-- ~~~~~~ icon图标 ~~~~~~ -->
	<link rel="shortcut icon" href="public/images/favicon.ico" />

	<!-- ~~~~~~ CSS 合并文件 ~~~~~~ -->
	<link rel="stylesheet" href="public/css/all_css.css" />

	<!-- ~~~~~~ 文本框插件 ~~~~~~ -->
	<script type="text/JavaScript" src="public/ckeditor/ckeditor.js"></script>
	
	<!-- ~~~~~~ 登陆注册 ~~~~~~ -->
	<link href="public/css/style.css" rel="stylesheet" type="text/css" media="all" />
	<script src="public/js/jquery.min1.js"></script>
	<script src="public/js/login1.js"></script>
		
		<link type="text/css" rel="stylesheet" href="public/css/jquery.mmenu.all.css" />
		<!-- <script type="text/javascript" src="public/js/jquery.mmenu.js"></script> -->
			<script type="text/javascript">
				$(function() {
					$('#btn12').click(function(){
				 		var phone=$('#dx12').val();
				 		data={
				 			'phone':phone
				 		};
				 		$.post('index.php?m=user&a=duanxi',data,function(){
				 			
				 		})
				 	//alert(1);	
				 	})
				});
				//<!--  验证码  -->
				 window.onload = function () {
					var oBtn = document.getElementById('btn123');
					var oImg = document.getElementById('img123');
					oBtn.onclick = function ()
					{
						oImg.src='index.php?m=user&a=yzm';
					}
				}
		    </script> 

	


	<!-- JavaScript files start -->
	<!-- <script type="text/javascript" src="public/js/jquery.min.js"></script> -->
	<!-- JavaScript files end -->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
	<div class="wrapper">

	


	<!-- 顶部header -->
<div id="header-wrapper">			
	<div id="header-bottom">
		<div class="header-bottom-wrapper">
			<div class="four columns omega">					
				<!-- logo / tagline-->
				<div class="two-thirds column">
					<div class="logo-slogan">
						<div class="logo"><a href="index.html">
						<img src="
						<?php if(!empty($data1[0]['picture']))
							{echo $data1[0]['picture'];}
							else{echo 'public/images/wenzhang.png';} ;?>" alt="" /></a></div>
					</div>
					<div class="tagline">
						
						{if !empty($data1)}
						{$data1[0]['xtitle']}
						{else}
						下一秒，我不知道。
						{/if}
					</div>
				</div>
			</div>
			<div class="ninehalf columns alpha" id="main-menu-wrapper">
				<ul id="main-menu">
					<li><a href="index.php?m=index&a=index">首页</a></li>
					
					<li>
						<a class="active" href="index.php?m=details&a=details">文章</a>
					</li>
					<li>
						<a  href="index.php?m=moodlist&a=moodlist">说说</a>
						<ul>
							<li>吐槽</li>								
						</ul>

					</li>
					

					{if !empty($_SESSION['username'])}
					<li><a  href="index.php?m=message&a=message">留言</a>
						<ul>
							<li>沉默</li>								
						</ul>
					</li>

					<li>
						<a href="index.php?m=user&a=geren">{$_SESSION['username']}</a>
						<ul>
							<li>完美</li>		
						</ul>							
					</li>

					{if $_SESSION['username'] == 'admin'}
						<li>
							<a href="index.php?m=index&a=admin">后台管理</a>
							<ul>
								<li>完美</li>		
							</ul>							
						</li>
					{/if}

					<li>
						<a href="index.php?m=user&a=tuichu">退出</a>
						<ul>
							<li>完美</li>
						</ul>							
					</li>

					{else}

					<li id="loginContainer"><a class="login" id="loginButton" href="#"><span>登录</span></a>
								 <div class="clear"> </div>
									<div id="loginBox">                
										<form id="loginForm" action="index.php?m=user&a=doLogin" method="post">
											<fieldset id="body">
												<fieldset>
													<label for="email">Username</label>
													<input type="text" name="username" id="email" required="required" />
												</fieldset>
												<fieldset>
													<label for="password">Password</label>
													<input type="password" name="password" id="password" />
												</fieldset>
												
												<input type="submit" id="login" value="login" required="required" />
											</fieldset>
											<span><a href="#">Forgot your password?</a></span>
										</form>
									</div>
								<!-- Login Ends Here -->
							</li>

					<li id="loginContainer"><a class="signup" id="signupButton" href="#"><span>注册</span></a>
								 <div class="clear"> </div>
									<div id="signupBox">                
										<form id="signupForm"  action="index.php?m=user&a=doRegister" method="post">
											<fieldset id="signupbody">
												<fieldset>
													<label for="email">Username <span>*</span></label>
													<input type="text" name="username" id="signupemail" placeholder="用户名长度为3~12位" required="required" />
												</fieldset>
												<fieldset>
													<label for="password">Choose Password <span>*</span></label>
													<input type="password" name="password" id="signuppassword" placeholder="请出入密码" required="required"/>
												</fieldset>
												 <fieldset>
													<label for="password">Confirm Password <span>*</span></label>
													<input type="password" name="rpwd" id="signuppassword1" placeholder="确认密码" required="required" />
												</fieldset>
												<fieldset>
													<label for="password">邮箱 <span>*</span></label>
													<input type="text" name="Email" id="signuppassword1" placeholder="如：110@qq.com" required="required" />
												</fieldset>
												<fieldset>
													<label for="password">验证码 <span>*</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a style="padding: 0px;float: right;" for="password" href="#" id="btn123">换一张</a></label>
													<img style="width: 100px;height: 30px;float: right;" src="index.php?m=user&a=yzm" id="img123" onclick="this.src='index.php?m=user&a=yzm'"/>
													<input style="width: 100px;height: 10px;" type="text" name="yzm" id="signuppassword1" placeholder="输入验证码" required="required"  />
													
												</fieldset>
												<fieldset>
													<label for="password">手机验证 <span>*</span>
													<a style="padding: 0px;float: right;" href="javascript:;" id="btn12">点击此处发送短信</a></label>
													<input type="text" name="phone" id="dx12"  placeholder="输入手机号" required="required" />
												</fieldset>
												<fieldset>
													<label for="password">手机验证码 <span>*</span></label>
													<input type="text" name="duanxin" id="signuppassword1"  placeholder="手机验证码" required="required" />
												</fieldset>
												<input type="submit" id="signup" value="Register Now!" />
											</fieldset>
										</form>
									</div>
								<!-- Login Ends Here -->
							</li>
						{/if}


					<!-- <li class="newsite"><a class="newsite" href="http://www.htmlsucai.com" target="_blank">退出</a>
						<ul>
							<li>商业</li>
						</ul>
					</li> -->
				</ul>
			</div>
		</div>					
	</div>		
</div>
<!-- end 顶部header -->
	<!-- 设置一个好的消息提示样式 -->
	<script type="text/javascript" src="heightlight/scripts/shCore.js"></script>
	<script type="text/javascript" src="heightlight/scripts/shBrushCss.js"></script>
	<script type="text/javascript" src="heightlight/scripts/shBrushJScript.js"></script>
	<script type="text/javascript" src="heightlight/scripts/shBrushPhp.js"></script>
	<script type="text/javascript" src="heightlight/scripts/shBrushSql.js"></script>
	<script type="text/javascript" src="heightlight/scripts/shBrushXml.js"></script>
	<link type="text/css" rel="stylesheet" href="heightlight/styles/shCore.css"/>
	<link type="text/css" rel="stylesheet" href="heightlight/styles/shThemeDefault.css"/>
	<script type="text/javascript">
		// SyntaxHighlighter.config.clipboardSwf = '/heightlight/scripts/clipboard.swf';
		// SyntaxHighlighter.config.bloggerMode = true;
		// SyntaxHighlighter.config.stringBrs = true;
		SyntaxHighlighter.all();
	</script>

<!--内容 content-wrappe -->


<div id="content-wrapper">
	<div class="container">

		<!-- crumbs -->
		<div class="whole-width crumbs">

		</div>
	</div>

	<!-- title -->
	<div class="title">
		<div class="left-arr"></div>
		<div class="right-arr"></div>
		<div class="container">
			<div class="columns ten alpha title-inner">
				<h1>最新文章</h1>
				<p>好记性不如烂笔头。记录点滴，方便你我。  </p>
			</div>
			<div class="columns six omega">
				<div class="filtr-block">
					<div class="filtr-text-general">位置：</div>
					<div class="filtr-categories" id="filter-cats">
						<div class="filtr-categories-container" id="filter-cats-cont">
							<a href="#" ><span>首页</span></a>
							<a href="#"><span>文章列表</span></a>
							<a href="#" class="active"><span>{$data4[0]['classname']}</span></a>
						</div>
					</div>
					<a href="#filter-cats" id="filtr-ico">Hide/Show Filtr</a>
				</div>
			</div>
			<div class="clear"><!-- clear floats --></div>
			<div class="clear"></div>
		</div>
	</div>
	<!-- /title -->




	<div class="container">
		<div class="separator35"></div>
		<!-- Left Part -->
		<div class="columns twelve">
			<!-- Blog Item -->
			<div class="post-entry no-bg-post">
				<h2  style="text-align:center"><a href="#">{$data[0]['title']}	</a></h2>
				<div class="twelve">
					<div class="post-details" style="text-align:center">
						<span class="post-autor">作者：{$data[0]['username']}</span>
						<span class="post-tags">发布时间：{$data[0]['addtime']}	</span>
						<span class="post-views">浏览量：{$data[0]['liulan']}</span>
						<span>&nbsp;&nbsp;&nbsp;&nbsp;点赞数：{$data7[0]['count']}</span>
					{if !empty($_SESSION['username'])}
						{if $data[0]['username'] == $_SESSION['username']}
						<span><a style="float: right;margin-top: -5px;" href="index.php?m=details&a=shanchu&id={$data[0]['id']}">删除</a></span>
						{/if}
						{if empty($data6)}
						<span><a style="float: right;margin-top: -5px;margin-right: 5px;" href="index.php?m=dianzan&a=dianzan&id={$data[0]['id']}&uid={$data[0]['uid']}">点赞</a></span>
						{else}
						<span><a style="float: right;margin-top: -5px;margin-right: 5px;width: 33px;" href="index.php?m=dianzan&a=QXdianzan&dzid={$data6[0]['dzid']}">取消点赞</a></span>
						{/if}
						
						<span><a style="float: right;margin-top: -5px;margin-right: 5px;width: 33px;" href="index.php?m=guanzhu&a=yonghuguanzhu&id={$data[0]['id']}&SC={$GZ}">{$GZ}</a></span>
						<span><a style="float: right;margin-top: -5px;margin-right: 5px;width: 33px;" href="index.php?m=guanzhuren&a=yonghuguanzhuren&bgzr={$data[0]['username']}&SC={$GZR}">{$GZR}</a></span>
						<span><a style="float: right;margin-top: -5px;margin-right: 5px;" href="index.php?m=details&a=QTpingbi&id={$data[0]['id']}">屏蔽</a></span>
					{/if}
					</div>
					<p>{$data[0]['content']}</p>					

				</div>
			</div>
			<!-- /Blog Item -->
			 <!-- Baidu Button BEGIN -->
			   <script>
window._deel = {name: '静觅',url: 'http://cuiqingcai.com/wp-content/themes/Yusi', ajaxpager: 'on', commenton: 1, roll: [0,0]}
</script>


<script type='text/javascript' src='js/jquery.min.js'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var CrayonSyntaxSettings = {"version":"_2.7.2_beta","is_admin":"0","ajaxurl":"http:\/\/cuiqingcai.com\/wp-admin\/admin-ajax.php","prefix":"crayon-","setting":"crayon-setting","selected":"crayon-setting-selected","changed":"crayon-setting-changed","special":"crayon-setting-special","orig_value":"data-orig-value","debug":""};
var CrayonSyntaxStrings = {"copy":"\u4f7f\u7528 %s \u590d\u5236\uff0c\u4f7f\u7528 %s \u7c98\u8d34\u3002","minimize":"\u70b9\u51fb\u5c55\u5f00\u4ee3\u7801"};
/* ]]> */
</script>
<script type='text/javascript' src='js/crayon.min.js'></script>
<script type='text/javascript' src='js/jquery.fitvids.js'></script>


		<header class="pageheader clearfix">
			
			<div class="pull-right" style="margin-top:100px;"><!-- 百度分享 -->
	<span class="action action-share bdsharebuttonbox"><i class="fa fa-share-alt"></i>分享 (<span class="bds_count" data-cmd="count" title="累计分享0次">0</span>)<div class="action-popover"><div class="popover top in"><div class="arrow"></div><div class="popover-content"><a href="#" class="sinaweibo fa fa-weibo" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_qzone fa fa-star" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="tencentweibo fa fa-tencent-weibo" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="qq fa fa-qq" data-cmd="sqq" title="分享到QQ好友"></a><a href="#" class="bds_renren fa fa-renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin fa fa-weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_more fa fa-ellipsis-h" data-cmd="more"></a></div></div></div></span>			</div>
		</header>
				

<script type='text/javascript' src='js/jquery.js'></script>
<script type='text/javascript' src='js/wp-embed.min.js'></script>
<script>with(document)0[(getElementsByTagName("head")[0]||body).appendChild(createElement("script")).src="http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion="+~(-new Date()/36e5)];</script>
    		<!-- Baidu Button END -->


		
			
			<div class="separator17"></div>

			<div class="dbl-dott-wrapper"></div>
			<h2 class="fs15 col-3e3b3b wei700">博客评论： <span class="colored-grey"></span></h2>


				{if empty($data3)}
				<div class="twelve">
					<div class="post-details">
						<span class="post-autor">你好好瞅瞅</span>
					</div>
					<blockquote class="grey-blo">
					<p>看看有人理你吗</p>
					</blockquote>
				</div>
				{else}
				{foreach $data3 as $keys => $val}
				<div class="twelve">
					<div class="post-details">
						<span class="post-autor">{$val['username']}</span>
						<span class="post-tags" style="float: right;">{$val['addtime']}</span>
						
					</div>
					<blockquote class="grey-blo">
					<p>{$val['content']}</p>
					{if !empty($_SESSION['username'])}
					{if $val['username']==$_SESSION['username']}
					<p><a style="float: right;margin-top: -5px;" href="index.php?m=message&a=shanchu&mid={$val['id']}">删除</a></p>
					{/if}
					{/if}
					</blockquote>
				</div>
				<!-- /Blog Item -->

				{/foreach}
				{/if}

			<!-- Socials -->
			<div class="separator9"></div>	
			<div class="pager"> 
				<!-- 分页操作 -->
				     <span><a href="{$url['first']}">首 页</a></span>
				     <span class="prev"><a href="{$url['prev']}" rel="prev">上一页</a></span>
				     <span class="active"><a>{$url['page']}</a></span>
				     <span class="next"><a href="{$url['next']}" rel="next">下一页</a></span>
				     <span><a href="{$url['last']}" rel="last">末 页</a></span>
				      共<b> {$url['count']} </b>页 &nbsp;&nbsp;
				      每页显示<b>{$num}</b>条 &nbsp;&nbsp;
				      总共<b> {$total} </b>条数据 
			</div>
			
			<!-- Comments -->
			
			<div class="separator8"></div>
			<!-- UY BEGIN -->
			<div id="uyan_frame"></div>

			<h3>我也来一句：</h3>

			<div class="full-width day_chat" style="min-height:450px;">
				
				<div id="pic_show">


					<form action="index.php?m=details&a=HFwz" method="post">
						<div class="fat_body">
							<textarea class="reply_ri_cont ckeditor" name="content"  id="TextAreal"></textarea>
						</div>
						<input type="hidden" name="tid" value="{$data[0]['id']}">
						<input type="hidden" name="classid" value="{$data[0]['classid']}">
						<input type="hidden" name="uid" value="<?php if(!empty($data[0]['uid'])){echo $data[0]['uid'];}else{} ?>">
						<input style="width: 120px;height: 30px;margin-top: 28px;margin-left: 166px; " type="submit" name="" value="Published about">

					</form>



				</div>
				<div class="clear"></div>
			</div>
			
			<!-- UY END -->
		</div>
		<!-- Left Part -->


		<!-- Right Part -->
		<div class="columns four blog-aside">
			
			
			<div class="" id="dhmenu">
			<form action="/Index/articlesearch" method="post" class="search_block" />
				<input name="keyword" type="text" value="Search site " onFocus="if(this.value=='Search site ')this.value='';" onBlur="if(this.value=='')this.value='Search site ';" />
				<input type="submit" value="" />
			</form>

			<h3 class="sidebar-titles">栏目导航</h3>
			<ul class="list_type7 categories-list">
				<li><a href="index.php?m=details&a=details">全部</a></li>
				{foreach $data2 as $keys => $val}
				<li><a href="index.php?m=details&a=details&cid={$val['cid']}&classname={$val['classname']}">{$val['classname']}</a></li>
				{/foreach}
				<li><a href="index.php?m=details&a=details&cid=我的收藏&classname=我的收藏">我的收藏</a></li>
				<li><a href="index.php?m=details&a=details&cid=我的关注&classname=我的关注">我的关注</a></li>
			</ul>
			

		</div>
		<div class="dbl-dott-wrapper"></div>
		<div class="separator11"></div>

		

</div> 
<!-- /Right Part -->


<div class="clear"></div>
</div>
</div>
<!-- end content -->
<script type="text/javascript">
	$(document).ready(function(){
		var l = true;
		var top = $("#dhmenu").offset().top;
		function doFix()
		{              
			var scrolla=$(window).scrollTop();
			var dis=parseInt(top)-parseInt( scrolla);
			console.log(dis);
			if(l && dis<=90)
			{                
				$("#dhmenu").removeClass().addClass("fixed_top_right");
				l=false;
			}
			if(!l && dis>90)
			{
				$("#dhmenu").removeClass("fixed_top_right");
				l=true;
			}
		}
		$(window).scroll(doFix);
	});
</script>
		<!-- FOOTER -->
<div id="footer-wrapper">
	<!-- top part [tweeter] -->
	<div id="footer-top">
		<div class="footer-tweet-left"></div>
		<div class="footer-tweet-right"></div>

		<div class="container">

		</div>
	</div>

	<!-- bottom part  -->
	<div id="footer-bottom">
		<div id="footer-bottom-arr"></div>
		<div class="container">
			<!-- copyrights -->
			<div class="column copyrights">
				<p>&copy; Copyright &copy; 2013.Company name All rights reserved.</p>
			</div>

			<div class="cnzz column" style="display:none;">
				<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1254447027'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1254447027%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
			</div>
			<!-- menu -->
			<div class="column">
				<ul id="footer-menu">
					<li><a href="http://www.htmlsucai.com">首页</a></li>
					<li><a href="http://www.htmlsucai.com">瑞班克</a></li>
					<li><a href="http://www.htmlsucai.com">文章</a></li>
					<li><a href="http://www.htmlsucai.com">说说</a></li>
					<li><a href="http://www.htmlsucai.com">留言</a></li>
					<li><!-- to top -->
						<a href="#top" class="backtop" title="Page Up"><!-- Upper --></a>
					</li>
				</ul>

			</div>

		</div>
	</div>
</div>
<!-- end footer -->		<!-- End Document -->
	</div>
</body>
</html>
